.card{
    transition: all 0.3s ease;
  }
  .card:hover{
    box-shadow:10px 10px 10px rgb(77, 72, 72);
    transform: scale(1.05);
  }
  .btn {
    display: block;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color:darkcyan;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    margin-left:35px;
    margin-bottom:20px;
  }
  .btn:hover{
    background-color:darkgray;
  }
  .App{
    background-color: #e3e6f3;
  }

